<div id="HOME" class="container">

    {{!-- <div class="new-post mx-auto">
        <div class="card">
            <div class="card-header "> 
                <h5 class="post-title">Create A New Post</h5>
            </div>
            
            <div class="card-body">
                <div class="post-content">
                    <form>
                        <div class="form-group mb-3">
                            <label for="comment"></label>
                            <textarea class="form-control" rows="5" id="comment" placeholder="Speak Your Mind.."></textarea>
                        </div>
                    </form>
                </div>
            </div>
                    
            <div class="card-footer">
                <button class="btn btn-primary float-end">Post</button>            
            </div>
        </div>

    </div> --}}

    <br>
    <br>
    <div class="recent-posts mx-auto mb-5">

        <div class="card">
            <div class="card-header">
                <h5> Recent Posts</h5>
            </div>
                
            <div class="card-body all-posts">
                <div class="card-content ">
                   {{!-- User Posts --}}
                  {{#each posts as |post|}}
                    {{!-- {{> post-details}} --}}
                    <div class="card mb-3">
                      <div class="card-header">
                        
                        <span id="{{post.id}}" class="float-start"> User: <span>{{post.user.username}}</span></span>
                        <span class="float-end"> Date Added: <span>{{post.createdAt}}</span></span>
                      </div>
                      <div class="card-body">
                        <p class="post-title">Title: <span>{{post.title}}</span></p>
                        <p class="post-description">Description: <span>{{post.post_content}}</span></p>
                      </div>
                      <div class="card-footer">

                        <div class="">
                          <button class="btn btn-primary float-end add-comment">Add Comment</button>
                          <a class="float-end mt-2 mx-3 view-comments" type="button">View All Comments</a>
                        </div>
                         <br>
                         <br>
                          <div class="card all-comments none">
                            <div class="card-body">
                              <div class="card-content">
                                <!-- All User Comments -->
                                {{#each post.comments}}
                                {{!-- {{> comment-details}} --}}
                                <div class="card">
                                  <div class="card-header">
                                    <p id="{{id}}" class="float-start comment-author"> User: <span>{{author}}</span></p>
                                    <span class="float-end"> Date Added: <span>{{createdAt}}</span></span>
                                  </div>
                                  <div class="card-body">
                                    
                                    <p class="comment-description">{{comment}} </p>
                                  </div>
                                  <div class="card-footer"></div>
                                </div>
                                {{/each}}
                              </div>
                              
                            </div>
                          </div>
                          <br>
                          
                          <div class="card leave-comment none">
                            <div class="card-body">
                              <!-- Leave A Comment -->
                              <div class="card">
                                <div class="card-header">
                                  <h5>Leave A Comment</h5>
                                </div>
                                <div class="card-body">
                                  <form>
                                    <div class="form-group mb-3">
                                        <label for="comment"></label>
                                        <textarea class="form-control" rows="5" id="comment" placeholder="Speak Your Mind.."></textarea>
                                    </div>
                                  </form>
                              
                                </div>
                                <div class="card-footer">
                                  <button class="btn btn-primary float-end post-comment">Post</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        


                      </div>
                    </div>

                  {{/each}}
                </div>

            </div>
            <div class="card-footer"></div>
        </div>

    </div>
    
</div>
<script src="/js/home.js"></script>